// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Home row mods macro
#define HRML(k2,k3,k4) &ht LCTRL k2  &ht LALT k3  &ht LGUI k4
#define HRMR(k1,k2,k3) &ht RGUI k1  &ht RALT k2  &ht CTRL k3

#define CMK 0
#define QWR 1
#define RIG 2
#define LEF 3
#define TRI 4

/ {
    macros {
	    ulaut: ulaut {
		    label = "Umlaut";
		    compatible = "zmk,behavior-macro";
		    #binding-cells = <0>;
		    bindings
                	= <&macro_press &kp LALT>
                	, <&macro_tap &kp U>
                	, <&macro_release &kp LALT>
                	;
        };
        agrav: agrav {
		        label = "AGrav";
		        compatible = "zmk,behavior-macro";
		        #binding-cells = <0>;
		        bindings
			        = <&macro_press &kp LALT>
			        , <&macro_tap &kp GRAVE>
			        , <&macro_release &kp LALT>
			        ;
                };

	    aegu: aegu {
		    label = "AEgu";
		    compatible = "zmk,behavior-macro";
		    #binding-cells = <0>;
		    bindings
			    = <&macro_press &kp LALT>
			    , <&macro_tap &kp E>
			    , <&macro_release &kp LALT>
			    ;
            };

	    acirc: acirc {
		    label = "ACirc";
		    compatible = "zmk,behavior-macro";
		    #binding-cells = <0>;
		    bindings
			    = <&macro_press &kp LALT>
			    , <&macro_tap &kp I>
			    , <&macro_release &kp LALT>
			    ;
            };
        };

    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <RIG LEF>;
            then-layer = <TRI>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮        ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  G       │        │  J       │  L       │  U       │  Y       │  ;       │
            &kp Q      &kp W      &kp F      &kp P      &kp G               &kp J      &kp L      &kp U      &kp Y      &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  D       │        │  H       │  N       │  E       │  I       │  O       │
            &kp A     HRML(R,         S,         T)     &kp D               &kp H      HRMR(N,        E,           I)   &kp O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │        │  K       │  M       │ , <      │ . >      │  /       │
            &kp Z      &kp X      &kp C      &kp V      &kp B               &kp K      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                         &lt LEF TAB  &mt LSHIFT BSPC      &kp SPACE  &lt RIG ENTER
        //                                 ╰──────────┴──────────╯        ╰──────────┴──────────╯
            >;
        };

        qwerty_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮        ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │        │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T               &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │        │  H       │  J       │  K       │  L       │  ;       │
            &kp A     HRML(S,         D,         F)     &kp G               &kp H       HRMR(J,        K,         L)   &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │        │  N       │  M       │ , <      │ . >      │  /       │
            &kp Z      &kp X      &kp C      &kp V      &kp B               &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                           &lt LEF TAB  &mt LSHIFT BSPC    &kp SPACE  &lt RIG ENTER
        //                                 ╰──────────┴──────────╯        ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮        ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ 1        │ 2        │ 3        │ 4        │ 5        │        │ 6        │ 7        │ 8        │ 9        │ 0        │
            &kp N1     &kp N2     &kp N3     &kp N4     &kp N5              &kp N6     &kp N7     &kp N8     &kp N9     &kp N0 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ Umlaut   │ Egu      │ Grav     │ Circ     │          |        |          │ 4        │ 5        │ 6        │  0       │
            &ulaut     &aegu      &agrav     &acirc     &trans              &trans     &kp N4      &kp N5      &kp N6    &kp N0 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │        │          │ 1        │ 2        │ 3        │          │
            &trans    &trans     &trans     &trans      &trans              &trans     &kp N1     &kp N2     &kp N3     &trans 
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans              &trans     &trans
        //                                 ╰──────────┴──────────╯        ╰──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮        ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │ UP       │          │          │        │          │          │          │          │          │
            &trans     &trans     &kp UARW   &trans     &trans              &trans     &trans     &trans     &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ ESC      │ LEFT     │ DOWN     │ RIGHT    │          │        │          │   (      │  )       │  =       │  '       │
            &kp ESC     &kp LARW   &kp DARW   &kp RARW   &trans              &trans    &kp LPAR    &kp RPAR   &kp EQUAL   &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ CAPS     │          │          │          │          │        │          │   [      │  ]       │  -       │  \       │
            &kp CAPS   &trans      &trans     &trans     &trans             &trans     &kp LBKT   &kp RBKT   &kp MINUS   &kp BSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤        ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans              &trans     &trans
        //                                 ╰──────────┴──────────╯        ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭───────────┬───────────┬───────────┬───────────┬────────────╮        ╭────────────┬────────────┬──────────┬───────────┬──────────╮
        //│  QWERTY   │           │           │           │ VOL UP     │        │ INC BRIGHT │            │          │           │          │
            &tog QWR    &trans      &trans      &trans      &kp C_VOL_UP         &kp C_BRI_UP  &trans       &trans     &trans      &trans
        //├───────────┼───────────┼───────────┼───────────┼────────────┤        ├────────────┼────────────┼──────────┼───────────┼──────────┤
        //│ PROFILE 0 │ PROFILE 1 │ PROFILE 2 │ PROFILE 3 │ VOL DOWN   │        │ DEC BRIGHT │ Previous   │ Pause    │ Next      │          │
            &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &kp C_VOL_DN     &kp C_BRI_DEC  &kp C_PREV  &kp C_PP   &kp C_NEXT  &trans
        //├───────────┼───────────┼───────────┼───────────┼────────────┤        ├────────────┼────────────┼──────────┼───────────┼──────────┤
        //│           │           │           │           │ VOL MUTE   │        │            │            │          |           │          │
            &trans       &trans     &trans      &trans      &kp C_MUTE            &trans       &trans       &trans     &trans       &trans
        //╰───────────┴───────────┴───────────┼───────────┼────────────┤        ├────────────┼────────────┼──────────┴───────────┴──────────╯
                                                &trans      &trans                &trans       &trans
        //                                    ╰───────────┴────────────╯        ╰────────────┴────────────╯
            >;
        };
    };
};
